<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ themeDir `index.css` }}">
  <title>hello world</title>
</head>
<body>
    {{ template "partials/header.html" }}
  <header class="banner" data-schema="{{ themeDir `index.json` }}">
  </header>
  <p>hello world {{ asset "banner.jpg" }}</p>
  {{ template "partials/footer.html" }}
  <script src="{{ ThemeDir }}/index.js"></script>
</body>
</html>
